{% extends "base.j2" %}

{% block title%} Taslky{% endblock  %}

{% block body %}
<h1>Taskly</h1>
<div class="input-div">
  <form action="">
    <input type="text" placeholder="Agregar Tarea" required>
    <button>Agregar</button>
  </form>
</div>
<div class="task-list">

</div>
{% endblock  %}